<html>
{% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'stylestory1.css' %}">
        <title>Profile Luthfi</title>
    </head>
    <body>
        <a href="{% url 'homepage:beranda' %}"><b>Kembali ke Beranda</b></a>
        <center><h1>Profil Saya</h1 sty></center>
        <table class="table1">
            <tr>
                <td>Nama</td>
                <td>: </td>
                <td>Muhammad Luthfi Fahlevi</td>
            </tr>
            <tr>
                <td>NPM</td>
                <td>: </td>
                <td>1906293215</td>
            </tr>
            <tr>
                <td>Angkatan</td>
                <td>: </td>
                <td>2019</td>
           </tr>
            <tr>
                <td>Hobi</td>
                <td>: </td>
                <td>Bulu tangkis</td>
            </tr>
            <tr>
                <td class="td2">Tempat Kuliah</td>
                <td>: </td>
                <td>Universitas Indonesia</td>
            </tr>
            <tr>
                <td>Deskripsi</td>
                <td>: </td>
                <td>Luthfi berasal dari Palangka Raya, Kalimantan Tengah. 
                    Dia lolos jurusan Ilmu Komputer, Fasilkom, 
                    Universitas Indonesia melalui jalur SNMPTN.
                    Dia memulai pengaplikasian penggunaan coding sejak perkuliahan.

                </td>
            </tr>
        </table>
        <br><br>
        <center><img src="{% static 'mypicture.jpg' %}" width="150" height="220" alt="mahasiswa bernama Luthfi"></center>
        <br>
        

        <table style="text-align: center;" id="edit">
            <tr>
                <th>Riwayat Pendidikan</th>
                <th>Sekolah/Universitas</th>
                <th>Tahun</th>
            </tr>
            <tr>
                <td>Sekolah Dasar</td>
                <td>SDN 6 Palangka Raya</td>
                <td>2007-2013</td>
            </tr>
            <tr>
                <td>Sekolah Menengah Pertama</td>
                <td>SMPN 2 Palangka Raya</td>
                <td>2013-2016</td>
            </tr>
            <tr>
                <td>Sekolah Menengah Atas</td>
                <td>SMAN 2 Palangka Raya</td>
                <td>2016-2019</td>
            </tr>
            <tr>
                <td>Universitas</td>
                <td>Universitas Indonesia</td>
                <td>2019-Sekarang</td>
            </tr>
        </table>

        <br>
    <center>
        <a href="https://www.facebook.com/luthfi.fahlevi.96">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" style="width:50;height:50;">
        </a>
        <a href="https://twitter.com/luthfifahlevi01">
            <img src="https://www.eventsnewsasia.com/wp-content/uploads/2019/03/Twitter.png" style="width: 50;height: 40;">
        </a>
        <a href="https://www.linkedin.com/in/luthfi-fahlevi/">
            <img src="http://pngimg.com/uploads/linkedIn/linkedIn_PNG38.png" style="width: 60;height: 60;">
        </a>
    </center>
    </body>
</html>