<!doctype html>
{% include "navbar.html"%}
<html lang="en">
  <head>
{% block content%}
    <title>Detail {{ jenis.matkul }}</title>
  </head>
  <body>
    <h1 style="text-align: center; margin: 3rem 0;">{{ jenis.matkul }}</h1>
    <!--Table-->
    <div class="container">
    <table style="margin: 3rem 0;" class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">Dosen Pengajar</th>
          <td>{{ jenis.dosen }}</td>
        </tr>
        <tr>
          <th scope="row">Jumlah SKS</th>
          <td>{{ jenis.jumlah_sks }}</td>
        </tr>
        <tr>
          <th scope="row">Deskripsi</th>
          <td>{{ jenis.deskripsi_matkul }}</td>
        </tr>
        <tr>
          <th scope="row">Tahun Semester</th>
          <td>{{ jenis.tahun_semester}}</td>
        </tr>
        <tr>
          <th scope="row">Ruang Kelas</th>
          <td>{{ jenis.ruang_kelas }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <h1 style="text-align: center;">Tugas</h1>
    <table style="margin: 3rem 0;" class="table table-hover d-flex justify-content-center">
      <tbody>
        {% for tugas in semua_tugas %}
        <tr>
          <th scope="row">{{tugas.nama_tugas}}</td>
          <td>{{tugas.deadline}}</td>
          <td></td>
          <td><a class="btn btn-danger" href="{% url 'jadwal:delete' tugas.id %}">Hapus</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </body>
</html>
{% endblock %}
{% include "base.html"%}