<!DOCTYPE html>
{% include "navbar.html" %}
{% load crispy_forms_tags %}
<html lang="en">
    {% block content %}
<head>
    <title>Atur Jadwal</title>
</head>
<body>
    <h1 style="margin: 3rem 0; text-align: center;">Make Your Schedule!</h1>
    <div class="container">
        <form method="POST">
            <table>
                {% csrf_token %}
                {{ schedule_form|crispy}}
            </table>
            <div style="margin: 3rem 0;">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
{% endblock %}
{% include "base.html"%}