<!doctype html>
{% include "navbar.html"%}
<html lang="en">
  <head>
{% block content%}
    <style>
      thead, tbody {
        text-align: center;
      }
      .rapi {
        margin: 3rem 0;
        text-align: center;
      }
    </style>
    <title>My Schedule</title>
  </head>
  <body>
    <!--Table-->
    <h1 class="rapi" >Your Schedule :D</h1>
    <div class="container">
    <table class="table table-hover rapi">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Mata Kuliah</th>
            <th scope="col">Dosen Pengajar</th>
            <th scope="col">Ruang Kelas</th>
            <th scope="col">Cek Detail</th>
            <th scope="col">Hapus Jadwal</th>
          </tr>
        </thead>
        <tbody>
          {% for jenis in semua_schedule %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{jenis.matkul}}</td>
            <td>{{jenis.dosen}}</td>
            <td>{{jenis.ruang_kelas}}</td>
            <td><a class="btn btn-info" href="{% url 'jadwal:detail' jenis.id %}">Info</a></td>
            <td><a class="btn btn-danger" href="{% url 'jadwal:delete' jenis.id %}">Hapus</a></td>
          </tr>
          {% endfor %}  
        </tbody>
      </table>
      <div class="rapi">
        <a class="btn btn-primary" href="{% url 'jadwal:jadwal' %}">Tambah</a>
      </div>
    </div>
  </body>
</html>
{% endblock %}
{% include "base.html"%}