<!doctype html>
{% include "navbar.html"%}
<html lang="en">
  <head>
{% block content%}
    <style>
      td, th, tr {
        text-align: center;
      }
    </style>
    <title>Detail {{ jenis.nama_kegiatan }}</title>
  </head>
  <body>
    <h1 style="text-align: center; margin: 3rem 0;">{{ jenis.nama_kegiatan }}</h1>
    <!--Table-->
    <div class="container">
      <table style="margin: 3rem 0;" class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Tanggal Kegiatan</th>
          </tr>
          <tr>
            <td>{{ jenis.tanggal_kegiatan }}</td>
          </tr>
          <br>
          <tr>
            <th scope="row">Deskripsi</th>
          </tr>
          <tr>
            <td>{{ jenis.deskripsi_kegiatan }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="container">
    <h1 style="text-align: center;">Peserta</h1>
    <table style="margin: 3rem 0;" class="table table-hover d-flex justify-content-center">
      <tbody>
        {% for peserta in semua_peserta %}
        <tr>
          <th>{{peserta.nama}}</td>
          <td><a class="btn btn-danger" href="{% url 'kegiatan:delete2' peserta.id %}">Hapus</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div style="margin: 3rem 0; text-align: center;">
    <a class="btn btn-primary" href="/kegiatan/atur_peserta/{{ jenis.id }}">Tambah</a>
  </div>
  </body>
</html>
{% endblock %}
{% include "base.html"%}