<!doctype html>
{% include "navbar.html"%}
<html lang="en">
  <head>
{% block content%}
    <style>
      .rapi {
        margin: 3rem 0;
        text-align: center;
      }
    </style>
    <title>My Activities</title>
  </head>
  <body>
    <h1 class="rapi">My Activities</h1>
    <div class="container">
      <div class="row row-cols-2">
        {% for jenis in semua_kegiatan %}
        <div class="col">
          <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">{{ jenis.nama_kegiatan }}</h1>
            <p class="lead"></p>
            <hr class="my-4">
            <p class="text-align-center">{{ jenis.tanggal_kegiatan}}</p>
            <a class="btn btn-primary btn-lg" href="{% url 'kegiatan:detail1' jenis.id %}" role="button">Detail</a>
            <a class="btn btn-danger btn-lg" href="{% url 'kegiatan:delete1' jenis.id %}" role="button">Hapus</a>
          </div>
        </div>
        {% endfor %}  
      </div>
    </div>
    <div class="rapi">
      <a class="btn btn-primary" href="{% url 'kegiatan:kegiatan' %}">Tambah</a>
    </div>
  </body>
</html>
{% endblock %}
{% include "base.html"%}