<!doctype html>
{% load static %}
<html lang="en">
  <head>
       <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
       integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
       crossorigin="anonymous">
       <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    {% block content %}
    <!--Isi Page-->
    {% endblock %}

      <!--Footer-->
      <div class="container footer">
        <h5>Kontak:</h5>
        <div class="row" style="padding-bottom:0.5rem;">
          <div class="col  d-flex flex-column align-items-center">
            <a href="mailto:muhammad.luthfi92@ui.ac.id" target="_blank">
            <img style="width: 53px;" src="{% static 'icons/email.png' %}" alt="email"></a>
          </div>
          <div class="col  d-flex flex-column align-items-center">
            <a href="https://www.linkedin.com/in/luthfi-fahlevi/" target="_blank">
            <img style="width: 55px" src="{% static 'icons/linkedin.png' %}" alt="linkedin"></a>
          </div>
          <div class="col  d-flex flex-column align-items-center">
            <a href="https://twitter.com/luthfifahlevi01" target="_blank">
            <img style="width: 59px;" src="{% static 'icons/twitter.png' %}" alt="twitter"></a>
          </div>
          <div class="col  d-flex flex-column align-items-center">
            <a href="https://www.facebook.com/luthfi.fahlevi.96" target="_blank">
            <img style="width: 26px;" src="{% static 'icons/facebook.png' %}" alt="facebook"></a>
          </div>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
    crossorigin="anonymous"></script>
  </body>
</html>