<!doctype html>
{% include 'navbar.html'%}
{% load static %}
{% block content %}
<html lang="en">
  <head>
    <title>Beranda Story 3 Luthfi</title>
  </head>
  <body>
      <!--Isi Page-->
      <div class="container" id="isi">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2 d-flex">
            
          </div>
          <div class="col-md-auto">
              <h1 class="ucapan">Selamat Datang!</h1>
              <img class="picBeranda" src="{% static 'gallery/picBeranda.png' %}" alt="Luthfi">
              <h3 class="nama">Muhammad Luthfi Fahlevi</h3>
              <p class="deskripsi1">Mahasiswa Fasilkom Universitas Indonesia</p>
            </div>
          <div class="col col-lg-2 d-flex align-items-center">
            <p class="deskripsi2">Saya seorang yang memiliki minat di Software Engineering. 
                Saya memiliki ambisi yang kuat dan dapat belajar dengan baik dan cepat. 
                Sekarang, saya sedang menempuh Sarjana Prodi Ilmu Komputer.</p>
          </div>
        </div>
      </div>
  </body>
</html>
{% endblock %}
{% include 'base.html'%}