<!doctype html>
{% load static %}
<html lang="en">
  <head></head>
  <body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:navy; color: white;">
        <a class="navbar-brand" href="{% url 'homepage:beranda' %}">Luthfi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'homepage:beranda' %}">Beranda <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'homepage:profil' %}">Profil</a>
            <a class="nav-item nav-link" href="{% url 'homepage:tentangSaya' %}">Tentang Saya</a>
            <a class="nav-item nav-link" href="{% url 'story1:story1' %}">Story 1</a>
            <a class="nav-item nav-link" target="_blank" href="{% url 'clock:clock' %}">Clock</a>
            <a class="nav-item nav-link" href="{% url 'jadwal:tampilan' %}">Schedule</a>
            <a class="nav-item nav-link" href="{% url 'kegiatan:tampilan1' %}">Activities</a>
          </div>
        </div>
    </nav>
    {% block content %}
    <!--Isi Page-->
    {% endblock %}