<!doctype html>
{% include 'navbar.html'%}
{% load static %}
{% block content %}
<html lang="en">
  <head>
    <title>Profil Luthfi</title>
  </head>
  <body>
    <!--Isi Page-->
    <div class="container" style="justify-content: center;">
        <div class="row">
          <div class="col" style="text-align: right;">
            <img class="picProfil" src="{% static 'gallery/picProfil.png' %}" alt="Luthfi">
          </div>
          <div class="col d-flex flex-column justify-content-center" >
            <h1 >Muhammad <br/> <span style="color:blue;">Luthfi</span> <br/> Fahlevi</h1>
        <table class="tabelDeskripsi">
          <tr>
            <th>Tanggal Lahir</th>
            <td>: 30 Agustus 2001</td>
          </tr>
          <tr>
            <th>Jenis Kelamin</th>
            <td>: Laki-laki</td>
          </tr>
          <tr>
            <th>Program Studi</th>
            <td>: Ilmu Komputer</td>
          </tr>
          <tr>
            <th>Universitas</th>
            <td>: Indonesia</td>
          </tr>
          <tr>
            <th>Minat</th>
            <td>: Software Engineering</td>
          </tr>
          <tr>
            <th>Hobi</th>
            <td>: Programming</td>
          </tr>
          <tr>
            <th>Keahlian</th>
            <td>: Python, HTML</td>
          </tr>
        </table>
          </div>
        </div>
    </div>
  </body>
</html>
{% endblock %}
{% include 'base.html'%}