<!doctype html>
{% include 'navbar.html' %}
{% load static %}
{% block content %}
<html lang="en">
  <head>
    <title>Tentang Luthfi</title>
  </head>
  <body>
      <!--Isi Page-->
      <div class="container">
        <h1 style="margin-top: 30px;">Tentang <span style="color: blue;">Saya:</span></h1>
        <h2 class="judul">Pengalaman Organisasi</h2>
        <div class="row">
          <div class="col d-flex flex-column align-items-center">
            <img class="pic" src="{% static 'gallery/pic1.png' %}" alt="Rohis">
            <h4 style="color: blue;">Rohani Islam SMA</h4>
            <ul>
              <li style="list-style-type: none;">2016 - 2018</li>
              <li>Anggota Organisasi</li>
              <li>Panitia Acara Hari Besar Islam</li>
            </ul>
          </div>
          <div class="col d-flex flex-column align-items-center">
            <img class="pic" src="{% static 'gallery/pic2.png' %}" alt="Paguyuban">
            <h4 style="color: blue;">Paguyuban Harati UI KalTeng</h4>
            <ul>
              <li style="list-style-type: none;">2019 - 2020</li>
              <li>Kepala Bidang Acara & Sosialisasi</li>
              <li>Wakil Kepala Bidang Kreasi Mahasiswa</li>
            </ul>
          </div>
        </div>
      </div>
      <h2 class="judul">Sukarelawan</h2>
      <div class="d-flex flex-column align-items-center">
          <img class="pic" src="{% static 'gallery/pic3.png' %}" alt="Pengajar">
          <h4 style="color: blue; margin: 1rem;">Pengajar Olimpiade Matematika SMA</h4>
          <ul>
            <li style="list-style-type: none;">2018 - 2019</li>
            <li>Melakukan Pelatihan Kepada Junior</li>
            <li>Mengatur Jadwal Lis Perlombaan</li>
          </ul>
      </div>

      <!-- Large modal -->
    <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="margin: 1rem;">Prestasi</button></center>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prestasi Saya</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!--Carousel-->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="img-fluid" src="{% static 'gallery/2017(1).jpg' %}" alt="CC GM">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Juara 2 Cerdas Cermat Matematika</h5>
                              <p>Gebyar Matematika FKIP ULM 2017 Se-KalSel-Teng</p>
                            </div>
                          </div>
                      <div class="carousel-item">
                        <img class="img-fluid" src="{% static 'gallery/2017(2).jpg' %}" alt="Olim MC">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Juara 2 Olimpiade Matematika</h5>
                          <p>Mathematics Challenges FMIPA ULM 2017 Se-KalSel-Teng</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="img-fluid" src="{% static 'gallery/2018(0).jpg' %}" alt="Olim UB">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Juara 1 Olimpiade Matematika</h5>
                          <p>Pekan Matematika Nasional FMIPA UB 2017 Regional Banjarmasin</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="img-fluid" src="{% static 'gallery/2018(1).jpg' %}" alt="Olim Kuis">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Juara 2 Olimpiade Matematika</h5>
                          <p>Kuis Gebyar Matematika FKIP ULM 2018 Se-KalSel-Teng</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="img-fluid" src="{% static 'gallery/2018(2).jpg' %}" style="transform: rotate(90deg);"alt="Olim Fisika">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Juara 1 Olimpiade Fisika</h5>
                          <p>FKIP UPR 2018 Se-KalTeng</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="img-fluid" src="{% static 'gallery/2018(4).jpg' %}" alt="Olim MOC">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Juara 1 Olimpiade Matematika</h5>
                          <p>Mathematics Olympiad Competition FKIP UPR 2018 Se-KalTeng-Sel</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="img-fluid" src="{% static 'gallery/2019(1).png' %}" style="transform: rotate(90deg);" alt="Olim UB(2)">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Juara 1 Olimpiade Matematika</h5>
                          <p>Pekan Matematika Nasional FMIPA UB 2018 <br> Regional Banjarmasin</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="img-fluid" src="{% static 'gallery/2019(2).jpg' %}" alt="CC Statistika">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Juara 1 Cerdas Cermat Statistika</h5>
                          <p>Badan Pusat Statistik 2019 Se-KalTeng</p>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                <!--End Carousel-->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
  </body>
</html>
{% endblock %}
{% include 'base.html' %}