.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link  {
    color: white;
}

#isi {
    margin-top: 15px;
}

.ucapan {
    text-align: center;
    color: blue;
}

.deskripsi1 {
    font-family: Red Hat Display;
    display: flex;
    justify-content: center;
}

.picBeranda {
    width: 350px;
    padding: 20px 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.deskripsi2 {
    font-family: Red Hat Display;
    width: 300px;
}

.nama {
    font-family: cabin;
    text-align: center;
    color:blue;
}

.footer {
    background-color: navy;
    max-width: 100%;
}

.footer h5 {
    color:white;
    padding: 1rem 0 0 2rem;
}

.footer p {
    font-family: cabin;
    color: white;
}

.kontak {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    padding: 0 0 1rem 0;
    justify-content: space-evenly;
}

.keterangan {
    padding: 0;
}

.profil {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.picProfil {
    width:350px;
    padding: 30px 1rem;
}

.pic {
    width: 500px;
    margin: 1.5rem 0;
}

.judul {
    text-align: center;
    margin: 1.5rem 0;
}


@media (min-width:900px){
    .navbar-collapse{
        flex-grow: 0;
    }
    .navbar-expand-lg{
        justify-content: space-between;
    }
}

